<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>游戏很精彩、主公尽情享受哦~</string>
		<key>imageArray</key>
		<array>
			<dict>
				<key>imgName</key>
				<string>activity04</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity04</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity04</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity01</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity04</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity04</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity01</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>download</key>
		<string>http://www.soso.com</string>
		<key>content</key>
		<string>这里有最动人的游戏画面，最感人的游戏情节。是的，快加入我们吧！我们一起勇敢面对！</string>
		<key>title</key>
		<string>游戏世界</string>
		<key>image</key>
		<string>activity01</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>title</key>
		<string>游戏国度新风尚，出发！</string>
		<key>imageArray</key>
		<array>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity04</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity01</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity01</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity04</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity01</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity02</string>
			</dict>
			<dict>
				<key>imgName</key>
				<string>activity03</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>download</key>
		<string>http://www.sohu.com</string>
		<key>content</key>
		<string>独家代理，史上最华丽的游戏！</string>
		<key>title</key>
		<string>最好玩的游戏</string>
		<key>image</key>
		<string>activity02</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>download</key>
		<string>http://www.360.com</string>
		<key>content</key>
		<string>华丽的技能释放，最精彩的打斗，万人城战，天下武侠的一次大团聚，加入游戏，加入自己的门派，与凡人一起修仙练气，这就是醉生梦死的游戏世界！</string>
		<key>title</key>
		<string>蜀山大团圆</string>
		<key>image</key>
		<string>activity03</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>download</key>
		<string>http://www.baidu.com</string>
		<key>content</key>
		<string>王国受到攻击！你需要指挥士兵、法师和火炮部队来对抗兽人、巨魔、邪恶精灵以及恶魔！王国保卫战（Kingdom Rush）是由乌拉圭的Ironhide Game Studio游戏工作室于2011年制作的一款塔防类FLASH游戏。游戏一经推出即广受好评，游戏网站Jayisgames评价说Kingdom Rush是目前塔防类游戏中当之无愧的王者。游戏网站Flashmush则认为游戏中的细节表现惊人，向所有玩家强烈推荐。</string>
		<key>title</key>
		<string>最好玩的游戏</string>
		<key>image</key>
		<string>activity04</string>
	</dict>
</array>
</plist>
